version: "3.10"

services:
  streamlit_app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    volumes:
      - taxi_preprocessed_data:/app/data

volumes:
  taxi_preprocessed_data:

